.game{
    display: flex;
    background: linear-gradient(135deg, rgba(21, 324, 32, 1) 0%, rgb(147,55,95) 50%);
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
}